.mainProjectInfo {
    position: relative !important;
}

.mainProjectInfo {
    width: 80vw;
    margin: 0 auto;
}

.mainTop {
    display: flex;
    justify-content: space-between;
}

.projectCodes p {
    margin-right: 1vw;
}

.projectLabels {
    font-size: calc(11px + 0.3vw) !important;
    margin-bottom: 10vh;
}

.descriptionImage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 72vh;
}

.projectDescription {
    width: 60%;
}

.projectContext {
    display: flex;
    margin-bottom: 5vh;
}

.projectContext p:last-child {
    margin-left: 2vw;
}

.projectDescription p {
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.projectContext p {
    font-size: calc(11px + 0.3vw) !important;
}

.projectContext p {
    width: 17vw;
}

.projectTools {
    margin-top: 2vh;
}

.imageText {
    display: none;
    justify-content: flex-end;
    margin-top: 5vw;
}

.arrow {
    width: 3vw;
    height: fit-content;
    position: absolute;
    bottom: 0;
    right: 50%;
}

#altaBaixaImage {
    height: 4vw;
    width: fit-content;
}

.imageProject {
    align-self: end;
}

.mainTop div {
    display: flex;
}

.mainImages {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    margin: 0 auto;
}

.imgWidth {
    width: 100%;
    margin: 0 auto;
    display: flex;
    margin-top: 5vh;
}

.graphicGroundImages div {
    width: 100%;
    display: flex;
}

.graphicGroundImages .imgWidth {
    width: 49%;
}

.imgRow {
    margin-top: 5vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.imgRow img {
    width: 48.5%;
}

#videoAlta {
    width: 50vw;
}

.mainImages video {
    width: 100%;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    filter: drop-shadow(2px 4px 6px rgb(25, 25, 25));
}

.mainImages a {
    margin-top: 5vh;
    color: #D4D6D4;
    text-decoration-color: #D4D6D4;
}

.urlWebsite {
    text-decoration: none;
    font-size: calc(60px + 0.3vw);
}